<section class="nav-hamburger">
  <!-- nav-wrapper start-->
  <div class="nav-wrapper">
    <input id="toggle" type="checkbox">
    <label for="toggle"><i class="fas fa-bars" id="hamburger"></i></label>
    <!--nav-menu start-->
    <nav class="nav-menu">
      <ul>
          <!--had to specify list items as I wanted the "Jeep" list to be different than the rest.-->
        <li class="grimes"><a href="#">Grimes Fashion</a></li>
        <li><a href="#team">Gallery</a></li>
        <li><a href="#contact">The Team</a></li>
        <li><a href="#gallery">Admin</a></li>
        <li><a href="#">Subscribe</a></li>
      </ul>
    </nav>
    <!--nav-menu end-->
  </div>
  <!--nav wrapper end-->
</section>