<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head')%>
</head>
<body>
  <%- include ('../partials/nav')%>
  <div class="hero">
    <h1><%- include ('../partials/header')%></h1>
    <h2><% pageTitle %></h2>
  </div>
  <!-- talk to aidan about how this works (section below will hold the list of subscribers) -->
  <section></section>
  <%- include ('../partials/footer')%>
</body>
</html>